body {
  background-color: #e8d1a7;
}
.container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.comingSoonPage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 650px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}

.pageDetails {
  background-color: #8b523b;
  color: white;
  padding-left: 10px;
  align-items: center;
}

.pageDetails h2 {
  font-family: "Baskervville SC", serif;
}

.pageDetails h1 {
  font-family: "Quicksand", sans-serif;
}

.pageDetails p {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
}

.pageDetails input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
}

.pageDetails button {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #452c1c;
  color: white;
}

img {
  width: 300px;
  height: 100%;
}
