body {
  background-color: #e8d1a7;
}
.container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.comingSoonPage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 650px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}

.pageDetails {
  background-color: #8b523b;
  color: white;
  padding-left: 10px;
  align-items: center;
}

.pageDetails h2 {
  font-family: "Baskervville SC", serif;
}

.pageDetails h1 {
  font-family: "Quicksand", sans-serif;
}

.pageDetails p {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
  text-wrap: balance;
}

.pageDetails input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
}

.pageDetails button {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #452c1c;
  color: white;
}

img {
  width: 300px;
  height: 100%;
}

@media (max-width: 550px) {
  .comingSoonPage {
    max-width: 450px;
    max-height: 350px;
  }

  img {
    width: 230px;
    height: 100%;
  }

  .pageDetails h2 {
    font-size: 15px;
  }

  .pageDetails h1 {
    font-size: 20px;
  }

  .pageDetails p {
    font-size: 11px;
  }

  .pageDetails input {
    width: 150px;
  }

  .pageDetails button {
    width: 45px;
    height: 25px;
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .comingSoonPage {
    max-width: 300px;
    max-height: 300px;
  }

  img {
    width: 155px;
    height: 100%;
  }

  .pageDetails h2 {
    font-size: 13px;
  }

  .pageDetails h1 {
    font-size: 17px;
  }

  .pageDetails p {
    font-size: 9px;
    margin-bottom: 5px;
    margin-top: -5px;
  }

  .pageDetails input {
    width: 100px;
    height: 15px;
    font-size: 10px;
  }

  .pageDetails button {
    width: 45px;
    height: 20px;
    font-size: 9px;
    margin-top: 5px;
  }
}
